.header {
  height: 5rem;
  background-color: #112d4e;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f9f7f7;
  font-size: 2rem;
  font-weight: bold;
}
