body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
}

.main-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  height: 100%;
  gap: 5%;
}
.service p {
  font-size: 1.5rem;
  color: #112d4e;
}
